{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Affichage d'une oeuvre - {{ parent() }}
{% endblock %}ocplatform

{% block ms_gestionbibliotheque_body %}

  <h2>{{ oeuvre.titre }}</h2>
  Sujet : {{ oeuvre.sujet }}
  <i>Langue {{ oeuvre.langue }}, publiée le {{ oeuvre.dateDePublication|date('d/m/Y') }}</i>

  <div class="well">
    <!-- contenu oeuvre -->
  </div>

  <p>
    <a href="{{ path('ms_gestion_bibliotheque_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}