{% extends "::layout.html.twig" %}

{% block title %}
  Oeuvres - {{ parent() }}
{% endblock %}

{% block body %}

<body>
  <div class="container">
  	<!-- block haut de page -->
  	<header class="row panel">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				 <!-- Title -->
		        <div class="navbar-header pull-left">
		          <a href="{{ path('g2_ms_gestion_bibliotheque_home') }}" class="navbar-brand">Bibliothèque Le Temps Libre</a>
		        </div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
						<span class="icon-bar"> <span class="sr-only">Toggle navigation</span>
						</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse bs-js-navbar-scrollspy" id="menu_bar" role="navigation">
					<div class="nav navbar-nav">
				        <!-- mettre en place une barre de recherche -->
				        <!--form class="form-inline my-2 my-lg-0" role="form" action="" method="post">
                          <input class="form-control mr-sm-2 menu-consult-search" type="search" 
                          	placeholder="Rechercher une oeuvre par titre ou par auteur" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                        </form-->
			       </div>
			       <div class="nav navbar-nav pull-right">
		       		<div class="col-md-8 welcome-user">
			       		<div class="sous-titre">
                            <b>{% if app.user %}Bonjour {{ app.user.username }}{% endif %}</b>
                        </div>
                    </div>
		       		<div class="col-md-4">
						<ul class="nav">
				            <li class="dropdown pull-right">
				              <a href="#" data-toggle="dropdown" class="dropdown-toggle user-profil"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
				              <ul class="dropdown-menu">
				                {% if app.user %}
				                <li class="navbar-text">
				                  <a href="/users/id" title="Profil">Profil</a>
				                </li>
    				        	<li class="navbar-text">
    				            	<a href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a> {# TODO: suppress after implementing #}
    				            </li>
        				        {% endif %}
			                	{% if not app.user %}
        				        	<li class="navbar-text">
        				            	<a href="{{ path('login') }}" title="Connexion">Connexion</a> {# TODO: suppress after implementing #}
        				            </li>
        				        {% endif %}
				              </ul>
				            </li>
				         </ul>
			         </div>
			     </div>
			</div>
		</nav>
	</header>
	<div class="body_main container">
	<!-- fin block haut de page -->
	
    <div class="row">
      <!-- block menu gauche -->
      <aside id="menu_gauche" class="col-md-2">
        <h4>Rechercher des livres ou des DVDs</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('g2_ms_gestion_bibliotheque_livre_find') }}">Rechercher des livres</a></li>
          <li><a href="{{ path('g2_ms_gestion_bibliotheque_dvd_find') }}">Rechercher des DVDs</a></li>
        </ul>
        {% if is_granted('ROLE_ADHERENT') %}
        <h4>Vos réservations</h4>
		<ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('g2_ms_gestion_bibliotheque_reservations_index') }}">Consulter vos réservations</a></li>
        </ul>
        <h4>Vos emprunts</h4>
		<ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('g2_ms_gestion_bibliotheque_emprunts_index') }}">Consulter vos emprunts</a></li>
        </ul>
        {% endif %}
      </aside>
      <section id="content" class="col-md-10">
        <br />
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h4>Consulter les livres et DVD disponibles. Possibilité de réserver en ligne.</h4>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block g2_ms_gestionbibliotheque_body %}
  {% endblock %}

{% endblock %}