{% extends "/layout.html.twig" %}

{% block title %}
Bibliothèque Le Temps Libre -
{{ parent() }}
{% endblock %}
{% block body %}
{# <div class="container-90-pos-absolute">#}
<header>
	<div class="navbar-fixed">
	<!-- Définition du menu adhérent -->
	<ul id="user_menu" class="dropdown-content">
		{% if app.user %}
            <li><a href="/users/id" title="Profil"><i class="material-icons">person</i>Profil</a></li>
            <li class="divider"></li>
        	<li><a href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a></li>
        {% endif %}	
    	{% if not app.user %}
        	<li><a href="{{ path('login') }}" title="Connexion">Connexion</a></li>
        {% endif %}
	</ul>
	<nav class="nav-extended blue darken-3">
		<div class="nav-wrapper">
			{% if not app.session.get('gestionnaire') %}
			<a href="{{ path('g2_ms_gestion_bibliotheque_home') }}"
			{% endif %}
			{% if app.session.get('gestionnaire') %}
			<a href="{{ path('g2_ms_gestion_bibliotheque_gestionnaire_index') }}"
			{% endif %}
				class="brand-logo">Bibliothèque Le Temps Libre</a> 
{# 			<a href="#" data-activates="dropdown1" class="button-collapse"><i class="material-icons">menu</i></a>#}
			<a class="dropdown-button right" data-beloworigin="true" data-constrainWidth="false" href="#" data-activates="user_menu">
				{% if not app.user %}Connexion{% endif %}
				<i class="material-icons right">arrow_drop_down</i>
			</a>
			<div class="right">
                {# ATTN: si c'est un gestionnaire qui est connecté, il faut récupérer le nom du gestionnaire et non celui de l'adhérent #}
                <b>
                    {% if app.user %}
                    	Bonjour 
                    	{% if app.session.get('adherent') %} 
                    	    {{ app.session.get('adherent').prenom }}
                    	{% endif %}
                    	{% if app.session.get('gestionnaire') %} 
                    	    {{ app.session.get('gestionnaire').prenom }}
                    	{% endif %}
                    {% endif %}
                 </b>
            </div>
		</div>
		<div class="nav-content">
    		{% if not is_granted('ROLE_GESTIONNAIRE') %}
    		 {% include("@GestionBibliothequeBundle/menu_standard.html.twig") %}
    		{% endif %}
    		{% if is_granted('ROLE_GESTIONNAIRE') %}
    		 {% include("@GestionBibliothequeBundle/Gestionnaire/menu_gestionnaire.html.twig") %}
    		{% endif %}
    	</div>
	</nav>
  </div>
</header>
<div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="{{ asset('bundles/msgestionbibliotheque/img/Melk_Abbey_Library.jpg') }}" alt="Unsplashed background img 1"></div>
  </div>
{# On définit un nouveau bloc, que les vues du bundle pourront remplir
#}
<main>
    {% block g2_ms_gestionbibliotheque_body %}
    {% endblock %}
</main>
<footer class="page-footer blue darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and
					columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2014 Copyright Text <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
{# </div>#}
{% endblock %}