{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Résultats de la recherche de livres - {{ parent() }}
{% endblock %}

{% block g2_ms_gestionbibliotheque_body %}

  <h1 class="header teal-text text-lighten-2">Livres correspondant à votre recherche</h1>
  {% if listeLivres is not empty %}
  <table id="myTable" class="table2" role="grid">
		<colgroup>
			<col style="width: 145px;" />
			<col style="width: 115px;" />
		</colgroup>
		<thead> 
			<tr> 
			    <th>Titre</th>
			    <th>Auteur</th> 
			    <th>Date de publication</th>
			</tr> 
		</thead> 
		<tbody>
			{% for livre in listeLivres %}
    			<tr>
    				<td><a href="{{ path('g2_ms_gestion_bibliotheque_livre_view', {'id': livre.id}) }}">{{ livre.titre }}</a></td>
    				<td>{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</td>
    				<td class="right">{{ livre.dateDePublication |date('d/m/Y') }}</td>
    			</tr>
			{% endfor %}
		</tbody> 
	</table>
	{% endif %}
	{% if listeLivres is empty %}
    	<p class=""><em>Il n'existe aucun livre disponible correspondant à votre recherche</em></p><br />
    {% endif %}
    <div>
    	<a href="{{ path('g2_ms_gestion_bibliotheque_livre_find') }}" class="btn btn-default">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Retour
            </a>
    </div>
{% endblock %}