{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block g2_ms_gestionbibliotheque_body %}

  <h2>Livres correspondant à votre recherche</h2>
  <table id="myTable" class="table2" role="grid">
		<colgroup>
			<col style="width: 145px;" />
			<col style="width: 115px;" />
		</colgroup>
		<thead> 
			<tr> 
			    <th>Titre</th>
			    <th>Auteur</th> 
			    <th>Date de publication</th>
			</tr> 
		</thead> 
		<tbody>
			{% for livre in listeLivres %}
    			<tr>
    				<td><a href="{{ path('g2_ms_gestion_bibliotheque_livre_view', {'id': livre.id}) }}">{{ livre.titre }}</a></td>
    				<td>{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</td>
    				<td>{{ livre.dateDePublication |date('d/m/Y') }}</td>
    			</tr>
			{% endfor %}
		</tbody> 
	</table>
{% endblock %}