{% extends "MSGestionBibliothequeBundle::layout.html.twig" %}

{% block title %}
  Modifier les caractéristiques de l'adhérent - {{ parent() }}
{% endblock %}

{% block g2_ms_gestionbibliotheque_body %}
<div class="well search_form_div row">
  <div class="col s6 offset-s3">
  	  <h1 class="header teal-text text-lighten-2">Modifier les caractéristiques de l'adhérent</h1>
      {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
        {{ form_widget(form) }}
        <a href="{{ path('g2_ms_gestion_bibliotheque_gestionnaire_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>Retour
        </a>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}